.navbar {
    overflow: hidden;
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
}

.navlist {
    float: right;
    direction: rtl;
    flex-direction: row;
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 20px;
}

h1 {
    float: left;
    width: 50%;
    line-height: 30pt;
    text-align: left;
}